.slick-list{
    padding: 0 !important;
}

div#icon{
    background-color: white !important;
}

.img-tech{
    width: 50% !important;
    padding-right: 4px;
}

.tech-item{
    display: inline-block;
    font-size: 16px;
}